<h1>{{ title | uppercase }}</h1>

<code>Affichage de la liste en minuscule à l'aide d'un pipe</code>
<ul>
  <li *ngFor="let item of items; let indexOfElement = index"> <!-- On boucle sur chaque item, et chaque index -->
    <input type="checkbox" [checked]="item[1]" (change)="updateItem(indexOfElement, !item[1])">
    {{ item[0]| lowercase | truncate }}
  </li>
</ul>

<app-additem (newItemEvent)="addNewItem($event)"></app-additem> <!-- Lien entre additem et la liste des items-->
<app-selectitem [allItems]="items"></app-selectitem>

<app-deleteltem [allItems]="items" (updateItems)="updateItems($event)"></app-deleteltem>